div
{
    background-color: rgba(43, 40, 40, 0.5);
    position: absolute;
    left: 30%;
    top: 15%;
    padding: 100px;
    width: 20%;
    text-align: center;
    border-radius: 20px;
}
button
{
    padding: 10px;
    position: relative;
    top: 20px;
    border-radius: 10px;
}